transformers
# torchcodec==0.6.0
torchaudio==2.6.0
PySoundFile
soundfile
pyaudio # no linux pode precisar: sudo apt install portaudio19-dev python3-pyaudio
flask                                                                                                                               
torch
nltk